
html, body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 5px;
}

img {

    max-width: 100%;
}

.left-side {

    flex: 1;
    
}

.right-side {

    flex: 1;

}


.sector1 {

    background-color: black;
    color: white;
    display: flex;
    height: 900px;
    
}




.sector2 {

    display: flex;
    height: 900px;

}

.sector3 {

    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 900px;

}

.sector3-content {

    display: flex;
    flex-direction: row;
   
}

.sector4 {

    display: flex;
    flex-direction: column;
    height: 900px;

}

.sector4-content {

    display: flex;
    flex: row;
}

.sector5 {

    background-color: black;
    color: white;
    display: flex;
    height: 900px;

}

footer {
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 5px;
}