@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,500&display=swap');

html, body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
}

header {
    display: flex;
    height: 60px;
    justify-content: space-around;
    padding: 5px;
}

img {

    max-width: 100%;
}

.left-side {

    flex: 1;
    
}

.right-side {

    flex: 1;

}


.sector1 {

    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 984px;

}

.sector1 .left-side {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

}

.sector1 .left-side p {

    align-self: center;
    font-size: 20px;

}

.sector1 .left-side p .bigger {

    align-self: center;
    font-size: 96px;

}

.sector1 .right-side {

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-self: center;

}

.sector1 .right-side img {

    max-width: 95%;

}

.sector2 {


    display: flex;
    flex-wrap: wrap;
    height: 984px;

}

.sector2 .left-side {

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-self: center;

}

.sector2 .left-side img {

    max-width: 95%;

}

.sector2 .right-side {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

}

.sector2 .right-side p {

    align-self: center;
    font-size: 20px;

}

.sector2 .right-side p .bigger {

    align-self: center;
    font-size: 96px;

}

.sector3 {

    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 900px;

}

.sector3-content {

    display: flex;
    flex-direction: row;
   
}

.sector4 {

    display: flex;
    flex-direction: column;
    height: 900px;

}

.sector4-content {

    display: flex;
    flex: row;
}

.sector5 {

    background-color: black;
    color: white;
    display: flex;
    height: 900px;

}

footer {
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 5px;
}